body {
  background: #ebeff2;
}

.loginbox {
  margin: 10%;
}

.loginbox input {
  font-size: 13px;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 3px;
}

.loginbox input:hover {
  border: 1px solid cornflowerblue;
}

.loginbox input:focus {
  border: 1px solid cornflowerblue;
  box-shadow: none;
}

.loginbox input:active {
  border: 1px solid cornflowerblue;
  box-shadow: none;
}

#register_form input {
  font-size: 13px;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 3px;
}

#register_form input:hover {
  border: 1px solid #fa7418;
}

#register_form input:focus {
  border: 1px solid #fa7418;
  box-shadow: none;
}

#register_form input:active {
  border: 1px solid #fa7418;
  box-shadow: none;
}

#register_form label {
  display: block;
}

#butUpdmDP,
#butUpd,
#butlogin,
#butsave {
  width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  border: 0 !important;
  font-size: 14px;
  font-weight: 500;
  background: #fa7418;
  box-shadow: none;
}

.registerbox {
  margin: 10%;
}

.registerbox input {
  margin-top: 0px;
}

.logo {
  margin-right: 20px;
}

nav span,
a {
  margin-left: 20px;
  text-decoration: none;
}

#myTable {
  margin: 20px;
}

#myTable td {
  padding: 3px 0px;
}

.btn-submit,
.btnSelect {
  background-color: #fa7418;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  padding: 3px 5px;
}

.btn-submit:hover,
.btnSelect:hover {
  border: 0px;
  background-color: #693609;
}

.btnDel {
  background-color: crimson;
  border: 0px;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  padding: 3px 5px;
  width: 100%;
}

.btnDel:hover {
  border: 0px;
}

.btnUpd:hover {
  background-color: rgb(223, 165, 5);
}

.btnUpd {
  background-color: rgb(223, 201, 5);
  border: 0px;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  padding: 3px 5px;
  width: 100%;
}

.navbar .container-fluid > .navbar-header {
  float: left;
  margin-right: 10px;
}

.navbar .navbar-nav {
  width: 100%;
  margin: 5px;
  font-size: 14px;
}

.nav > li {
  float: left;
}

.logop {
  text-align: left;
}

.logoimg {
  width: 75px;
}

.titlelog {
  color: #222;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

#acessdoc {
  margin: 15px;
}

.btn-submit {
  margin: 15px;
}

#login_form {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#login_form label {
  font-size: 13px;
  color: #555;
}

.form-group {
  margin-top: 5px;
}

#register_form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#register_form label {
  font-size: 13px;
  color: #555;
}

.form-group {
  margin-top: 5px;
}

.maxwidth {
  margin: 0 auto;
  margin-top: 35px;
  width: 100%;
  max-width: 1000px;
}
.maxwidthform {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
}

#myTable,
#tableUser {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 0;
  border-radius: 5px;
  display: block;
  padding: 20px;
  font-size: 13px;
}

#myTable tbody,
#tableUser {
  width: 100%;
  display: table;
}

.infoclient {
  text-align: center;
  margin: 0 0 30px 0;
  background: #fff;
  padding: 20px 0;
}

.logout {
  right: 10px;
  position: absolute;
}

.navbar {
  background: #555 !important;
}

.nav-link {
  color: #fff !important;
}

.navbar-collapse {
  border-left: 1px solid #999;
}

label {
  display: inline-block;
}

div {
  position: relative;
}
.password-helper {
  display: inline-block;
  background-color: cornsilk;
  position: fixed;
  z-index: 999;
  padding: 10px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 25%;
}

.singleuser {
  margin-left: 50%;
}
