.loginbox {
    margin: 10%;
}

.loginbox input {
    margin-top:3px;
}

.registerbox {
    margin: 10%;
}

.registerbox input {
    margin-top:5px;
}

.logo {
    margin-right:20px;
}

nav span, a {
    margin-left:20px;
}